#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
body {
    margin: 0px;
}
.main {
    width: 765px;
    height: 591px;
    padding: 10px 0px 0px;
}
.main-body {
    width: 400px;
}
.main-step .el-step__icon-inner {
    font-size: 20px !important;
}
.main-step .el-step__title {
    font-size: 12px;
}
.main-step .el-step__title {
    line-height: 16px;
}
.main .el-slider__bar {
    background-color: #44b549 !important;
}
.main .el-slider__button {
    border-color: #44b549;
}
.main .el-button:focus, .main .el-button:hover {
    color: white;
    background-color: #3bc341;
    border: none;
}
.main .el-radio__input.is-checked .el-radio__inner {
    border-color: #44b549;
    background: #44b549;
}
.main .el-radio__input.is-checked+.el-radio__label {
    color: #44b549;
}
.page-land {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.page-img-item {
    width: 150px;
    margin: 12px;
    cursor: pointer;
}
.page-img {
    width: 100%;
}
.page-generate {
    display: flex;
    justify-content: center;
    padding: 20px 20px 10px 20px;
}
.page-generate-board {
    width: 300px;
    height: 100%;
    text-align: left;
    font-size: 14px;
    margin-right: 50px;
}
.page-generate-board-item {
    margin-bottom: 10px;
}
.page-generate-progress {

}
.page-generate-progress-title {

}
.page-generate-progress-body {
    position: relative;
    padding-top: 50px;
}
.page-generate-temp {
    transform: scale(0.3);
    display: block;
    position: absolute;
    top: -15px;
    left: 0px;
    transition: 0.5s left;
}
.page-generate-progress-now {
    width: 100%;
    text-align: right;
}
.generate-input {
    width: 120px;
    height: 30px;
    border-radius: 3px;
    border: 1px #44b549 solid;
    text-indent: 8px;
    display: block;
    margin: 12px 0px;
}
.generate-go {
    width: 160px;
    height: 40px;
    font-size: 18px;
    border: none;
    display: block;
    background-color: #44b549;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.generate-down {
    width: 180px;
    height: 38px;
    font-size: 16px;
    border: none;
    display: block;
    background-color: #44b549;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 40px auto;
}
.generate-back {
    border: none;
    display: block;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
    margin: 12px 0px;
    color: #44b549;
}
.origin-container {
    margin: 0px auto;
    text-align: center;
}
.origin {

}
.el-progress-bar__innerText {
    display: none;
}